:root {
	--primary: white;
	--secondary: #395B64;
	--text: white;
	--button-action: #E7F6F2;
	--background: #2C3333;
	--highlight: #F7EC59;
}

:root {
	--shadow-color: 180deg 12% 8%;
	--shadow-elevation-lowest:
		0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.27),
		0.4px 0.8px 1.1px -1.1px hsl(var(--shadow-color) / 0.29),
		1px 1.9px 2.5px -2.1px hsl(var(--shadow-color) / 0.32);
	--shadow-elevation-low:
		0.6px 0.8px 1.2px hsl(var(--shadow-color) / 0.38),
		1.1px 1.5px 2.3px -0.9px hsl(var(--shadow-color) / 0.47),
		2.8px 3.9px 5.9px -1.8px hsl(var(--shadow-color) / 0.57);
	--shadow-elevation-medium:
		0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.28),
		0.8px 1.7px 2.2px -0.7px hsl(var(--shadow-color) / 0.3),
		2px 4px 5.3px -1.4px hsl(var(--shadow-color) / 0.32),
		4.8px 9.5px 12.5px -2.1px hsl(var(--shadow-color) / 0.35);
	--shadow-elevation-high:
		0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.26),
		1.5px 3px 3.9px -0.3px hsl(var(--shadow-color) / 0.27),
		2.7px 5.4px 7.1px -0.6px hsl(var(--shadow-color) / 0.28),
		4.3px 8.7px 11.4px -0.9px hsl(var(--shadow-color) / 0.29),
		6.7px 13.5px 17.7px -1.2px hsl(var(--shadow-color) / 0.3),
		10.3px 20.6px 27.1px -1.5px hsl(var(--shadow-color) / 0.31),
		15.4px 30.9px 40.7px -1.8px hsl(var(--shadow-color) / 0.32),
		22.5px 45px 59.2px -2.1px hsl(var(--shadow-color) / 0.33);
}

/*
https://mxb.dev/blog/color-theme-switcher/
https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2
#2C3333
#395B64
#A5C9CA
#E7F6F2*/

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;

	line-height: 1.5;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	/* https://systemfontstack.com/ */
}

/* Fix these elements not inheriting body's font */
textarea,
input,
button,
select {
	font-family: inherit;
	font-size: inherit;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	justify-content: center;
	background-color: var(--background);
}

header {
	display: grid;
	justify-content: center;
}

header > nav {
	margin: auto;
}

header,
main,
footer {
	max-width: 37.5em;
	padding: 1em;
}

p,
pre,
code,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text);
}

a[href],
a[href]:visited {
	color: var(--primary);
}


a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main>article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

::selection {
	color: var(--background);
	background-color: var(--highlight);
}

/* Header Logo (style as h2) */
header>em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
	user-select: none;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
	transition: opacity 0.08s, box-shadow 0.08s, background-color 0.15s, color 0.15s;
	border: 1px solid var(--secondary);
	border-radius: 1px;
}


header nav li[data-current="current item"] {
	background-color: var(--secondary);
	box-shadow: var(--shadow-elevation-low);
}

header nav li[data-current="current item"] a {
	cursor: default;
	pointer-events: none;
}

header nav li a {
	padding: .25em .5em;
	margin: 0 .25em;
	text-decoration: none;
}

header nav ul:hover>* {
	opacity: 0.8;
	background-color: var(--background);
	box-shadow: none;
}

header nav ul:hover>*:hover {
	opacity: 1;
	background-color: var(--secondary);
	box-shadow: var(--shadow-elevation-low);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main>section>article>* {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .625em;
	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: .25em;
	text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form[name="contact"] {
	display: grid;
	padding: 2em 0;
}

form[name="contact"] label {
	display: none;
}

form[name="contact"] input,
form[name="contact"] textarea,
form[name="contact"] button {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	font-size: 1rem;

	border: none;
	box-shadow: var(--shadow-elevation-lowest);
}

form[name="contact"] textarea {
	resize: vertical;
}

form[name="contact"] button {
	background-color: var(--secondary);
	color: var(--text);
	box-shadow: var(--shadow-elevation-medium);
	cursor: pointer;
	transition: box-shadow 0.08s, background-color 0.15s, color 0.15s;
}

form[name="contact"] button:hover {
	background-color: var(--button-action);
	color: var(--secondary);
	box-shadow: var(--shadow-elevation-high);
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}