<footer>
  <small>
    Check out this page's <a href="https://github.com/ukusormus/homepage">GitHub repo</a>. Based on <a href="https://github.com/danurbanowicz/eleventy-netlify-boilerplate">11ty + Netlify boilerplate</a>.
  </small>
</footer>
