---
layout: layouts/base.njk
section: contact
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% include "components/form.njk" %}

<p>Email: <i><span id="my-email"></span></i></p>
<style onload='setTimeout(function () {
    document.querySelector("#my-email").innerText = atob([..."=02bj5CbpFWbnBUdrVnLzVXby92c"].reverse().join(""));
    console.log(document.querySelector("#my-email"))
    }, 10)'/>